*{
    font-family: sans-serif;
    background-color: antiquewhite;
}


 main .row .btn-stile{
    border-radius: 10px;
    padding: 0.50rem 0.75rem;
    margin-left: 8px;
}

main  input {
    border: none;
    background-color: white;
    border-radius: 20px;
    padding: 0.55rem;
}

.consenti{
    color: green;
}

.negato {
    color: red;
}
